
.rating-stars-container label.star::before {
    content: '\2605'; /* Unicode character for a star */
}

.rating-stars-container input[type="radio"]:checked ~ label.star::before {
    color: #ffcc00;
}

.rating-stars-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin-bottom: 20px;
}


.rating-stars-container input[type="radio"] {
    display: none;
}

.rating-stars-container label.star {
    font-size: 60px;
    color: #ffd700;
    cursor: pointer;
}

.rating-stars-container input[type="radio"]:checked ~ label.star {
    color: #ffd700; /* Color filled stars */
}

/* If you want to style unfilled stars differently */
.rating-stars-container input[type="radio"]:not(:checked) ~ label.star {
    color: #ccc; /* Color unfilled stars */
}

.center {
    text-align: center;
  }
  
  .center.section-title {
    /* Reset any text-align property previously set for .section-title */
    text-align: initial;
  }
  

 